@import "bootstrap/scss/bootstrap";

:root {
  --ns-bg: #ffffc6;
  --ns-card: #ffffb1;
  --ns-text: #216568;
  --ns-text-muted: #5a8d8f;
  --ns-accent: #c4c96e;
  --ns-border: #fdffe0;
}

body {
  background-color: var(--ns-bg);
  color: var(--ns-text);
}